---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
	<h1 class="text-3xl">My protected route</h1>
	<br>
	<p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio sed nemo
		porro quis, dolores libero dolore! Consectetur molestias adipisci nulla
		earum laboriosam fugit ex, alias rem nihil quas officia neque. Lorem
		ipsum dolor sit amet consectetur adipisicing elit. Reiciendis asperiores
		ex quos itaque quis dignissimos saepe sapiente quam, optio quod libero
		nam soluta hic blanditiis esse tempore. Et, eligendi maiores?
	</p>
</MainLayout>
